#footer{
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  background-color: #6D6D6D;
  border-radius: 4px 4px 0px 0px;
  width: 80vw;
  max-width: 1680px;
  min-width: 600px;
  box-shadow: 0 0px 6px 0px rgba(255, 235, 0, 0.66), 3px 3px 3px 3px rgba(0, 0, 0, 0.12);
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.infoText{
  font-family: 'Josefin';
  font-size: 14px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}


#email{
  padding-left: 20px;
}


#phone{
  padding-left: 20px;
}

#company{
  padding-right: 20px;
  font-size: 14px;
}

#X{
  color: #ffb42a;
}
